#search-form {
  width: 15%;
}

#tweet {
  margin-left: 40px;
}

.card {
  width: 18rem;
}

.cardFeed {
  width: 50rem;
}

#navBar {
  margin-bottom: 20px;
}

.profile {
  float: left;
  margin-bottom: 20px;
}

.profileBackground {
  height: 100px;
}

.feed {
  width: 500px;
	
	position: absolute;
	top: 75px;
	bottom: 600px;
	left: 0;
	right: 0;
  	
	margin: auto;
  border: solid lightgray 1px;
  
}

.postForm {
  border: none;
  margin: 20px 10px 20px 20px;
}

.previewPic {
  height: 50px;
}

.bold {
  font-weight: bold;
}
