#search-form {
  width: 15%;
}

#tweet {
  margin-left: 40px;
}

.card {
  width: 18rem;
}

.cardFeed {
  width: 50rem;
}

#navBar {
  margin-bottom: 20px;
}

.profile {
  float: left;
  margin-bottom: 20px;
}

.profileBackground {
  height: 100px;
}
