#search-form {
  width: 15%;
}

#tweet {
  margin-left: 40px;
}

.card {
  width: 18rem;
}

.cardFeed {
  width: 50rem;
}

#navBar {
  margin-bottom: 20px;
}

.profile {
  float: left;
  margin-bottom: 20px;
}

.profileBackground {
  height: 100px;
}

.feed {
  width: 500px;
	
	position: absolute;
	top: 75px;
	bottom: 600px;
	left: 0;
	right: 0;
  	
	margin: auto;
  border: solid lightgray 1px;
  
}

.postForm {
  border: none;
  margin: 20px 10px 20px 20px;
}

.previewPic {
  height: 50px;
}

.bold {
  font-weight: bold;
}

.suggestions {

	border: lightgray solid 1px;
  width: 18rem;
  position: absolute;
  top: 75px;
  right: 500px;
  margin: auto;
}

.personSuggest {
  margin: 20px 10px 20px 20px;
}

.left-side {
  margin: -10px 0 5px 10px;
}

.col-header {
  margin-top: 10px;
  text-align: center;
}

.add-btn {
  margin-top: 10px;
}

.profilePic {
  margin-bottom: -25px;
}